Repository bastiankistner/release-drafter-test, changes with the labels that .github/labeler.yml gives for each.
All labels: service-a, service-b, service-c, deployment, documentation

KEY-3 service-c (#72)
  service-c/file.txt
Labels: service-c

hotfix
  service-c/file.txt
Labels: service-c

KEY-9999 hotfix for something urgent
  service-c/file.txt
Labels: service-c

lint branchname and pr title
  .github/workflows/branch-lint.yml
  .github/workflows/pr-lint.yml
Labels: deployment

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

fix
  .github/workflows/branch-lint.yml
  .github/workflows/pr-lint.yml
Labels: deployment

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

BR24-1 service-a (#79)
  service-a/file.txt
Labels: service-a

BR24-2 service-b (#80)
  service-b/file.txt
Labels: service-b

BR24-3 service-c (#81)
  service-c/file.txt
Labels: service-c

pr title
  .github/workflows/pr-lint.yml
Labels: deployment

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

BR24-1 service-a (#83)
  service-a/file.txt
Labels: service-a

BR24-2 service-b (#84)
  service-b/file.txt
Labels: service-b

BR24-3 service-c (#85)
  service-c/file.txt
Labels: service-c

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

BR24-1_service-a (#88)
  service-a/file.txt
Labels: service-a

BR24-2_service-b (#89)
  service-b/file.txt
Labels: service-b

BR24-3_service-c (#90)
  service-c/file.txt
Labels: service-c

Update file.txt
  service-a/file.txt
Labels: service-a

Update file.txt (#92)
  service-a/file.txt
Labels: service-a

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

BR24-1 service-a (#94)
  service-a/file.txt
Labels: service-a

BR24-2 service-b (#95)
  service-b/file.txt
Labels: service-b

BR24-3 service-c (#96)
  service-c/file.txt
Labels: service-c

.github/labeler.yml:

service-a:
  - service-a/**/*

service-b:
  - service-b/**/*

service-c:
  - service-c/**/*

deployment:
  - .github/**/*.{yml,yaml}

documentation: "**/*.md"
