Repository bastiankistner/release-drafter-test, changes with the labels that .github/labeler.yml gives for each.
All labels: service-a, service-b, service-c, deployment, documentation

.github/labeler.yml:

service-a:
  - service-a/**/*

service-b:
  - service-b/**/*

service-c:
  - service-c/**/*

deployment:
  - .github/**/*.{yml,yaml}

documentation: "**/*.md"

KEY-2 service-b (#22)
  service-b/file.txt
Labels: service-b

KEY-3 service-c (#23)
  service-c/file.txt
Labels: service-c

m
  02-merge.sh
  03-release.sh
Labels: none

m
  .github/workflows/release-drafter.yml
Labels: deployment

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#26)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#27)
  service-b/file.txt
Labels: service-b

KEY-3 service-c (#28)
  service-c/file.txt
Labels: service-c

KEY-2 service-b (#27)
  service-b/file.txt
Labels: service-b

KEY-1 service-a (#26)
  service-a/file.txt
Labels: service-a

KEY-3 service-c (#28)
  service-c/file.txt
Labels: service-c

change event to push
  .github/workflows/release-drafter.yml
Labels: deployment

KEY-3 service-c (#28)
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#26)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#27)
  service-b/file.txt
Labels: service-b

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

m
  02-merge.sh
  03-release.sh
Labels: none

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

a commit
  service-a/file.txt
Labels: service-a

a commit
  create-pr.sh
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

delete branches if exist
  create-pr.sh
Labels: none

delete branches if exist
  create-pr.sh
Labels: none

delete branches if exist
  create-pr.sh
Labels: none

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#39)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#40)
  service-b/file.txt
Labels: service-b

KEY-3 service-c (#41)
  service-c/file.txt
Labels: service-c

KEY-3 service-c (#41)
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#39)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#40)
  service-b/file.txt
Labels: service-b
