Repository bastiankistner/release-drafter-test, changes with the labels that .github/labeler.yml gives for each.
All labels: service-a, service-b, service-c, deployment, documentation

.github/labeler.yml:

service-a:
  - service-a/**/*

service-b:
  - service-b/**/*

service-c:
  - service-c/**/*

deployment:
  - .github/**/*.{yml,yaml}

documentation: "**/*.md"

fix github action
  .github/worflows/release-drafter.yml
Labels: deployment

a commit
  create-branch.sh
  service-a/file.txt
Labels: service-a

a commit
  create-branch.sh
  service-a/file.txt
Labels: service-a

fix github actions
  .github/workflows/labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Labels: deployment

a commit
  create-branch.sh
  service-a/file.txt
Labels: service-a

m
  create-branch.sh
Labels: none

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

m
  create-branch.sh
Labels: none

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-a/file.txt
Labels: service-a

m
  service-b/file.txt
  service-c/file.txt
Labels: service-b, service-c

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

a commit
  service-a/file.txt
  service-c/file.txt
Labels: service-a, service-c

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

m
  README.md
  create-pr.sh
  merge.sh
  run.sh
Labels: documentation

m
  merge.sh
  run.sh
Labels: none

m
  run.sh
Labels: none

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#16)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#17)
  service-b/file.txt
Labels: service-b

KEY-3 service-c (#18)
  service-c/file.txt
Labels: service-c

KEY-2 service-b (#17)
  service-b/file.txt
Labels: service-b

KEY-3 service-c (#18)
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#16)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#17)
  service-b/file.txt
Labels: service-b

KEY-1 service-a (#16)
  service-a/file.txt
Labels: service-a

KEY-3 service-c (#18)
  service-c/file.txt
Labels: service-c

m
  01-run.sh
  02-merge.sh
  03-release.sh
Labels: none

m
  .github/workflows/release-drafter.yml
Labels: deployment

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#21)
  service-a/file.txt
Labels: service-a
