Repository bastiankistner/release-drafter-test, changes with the labels that .github/labeler.yml gives for each.
All labels: service-a, service-b, service-c, deployment, documentation

.github/labeler.yml:

service-a:
  - service-a/**/*

service-b:
  - service-b/**/*

service-c:
  - service-c/**/*

deployment:
  - .github/**/*.{yml,yaml}

documentation: "**/*.md"

readme
  README.md
Labels: documentation

remove local files from history for now
  .gitignore
  01-run.sh
  02-merge.sh
  03-release.sh
  README.md
  create-pr.sh
Labels: documentation

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#45)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#46)
  service-b/file.txt
Labels: service-b

KEY-3 service-c (#47)
  service-c/file.txt
Labels: service-c

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#49)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#50)
  service-b/file.txt
Labels: service-b

KEY-3 service-c (#51)
  service-c/file.txt
Labels: service-c

fixed something
  service-b/file.txt
Labels: service-b

KEY-2: pull request squash merge commit title of a fix during a release on staging
  service-b/file.txt
Labels: service-b

chore: this is a direct commit against staging during release prep
  service-a/file.txt
Labels: service-a

add auto rebase after release
  .github/workflows/release-rebase.yml
Labels: deployment

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#57)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#58)
  service-b/file.txt
Labels: service-b

KEY-3 service-c (#59)
  service-c/file.txt
Labels: service-c

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

release drafter update notes
  .github/release-drafter.yml
Labels: deployment

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#65)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#66)
  service-b/file.txt
Labels: service-b

KEY-3 service-c (#67)
  service-c/file.txt
Labels: service-c

change release drafter to staging also
  .github/workflows/release-drafter.yml
Labels: deployment

a commit
  service-a/file.txt
Labels: service-a

a commit
  service-b/file.txt
Labels: service-b

a commit
  service-c/file.txt
Labels: service-c

KEY-1 service-a (#70)
  service-a/file.txt
Labels: service-a

KEY-2 service-b (#71)
  service-b/file.txt
Labels: service-b
